<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Industics Co., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industics.ilab.okr.dal.dao.mapper.ApprovalMapper">
    <update id="updateApproval">
        update bonus_approval set status=#{status} where approval_id=#{approval_id}
    </update>

    <select id="getApprovalByID" resultType="Map">
        select * from bonus_approval where approval_id=#{approval_id}
    </select>

    <select id="getApprovalByStatus" resultType="Map">
        select (select work_num from user_bl where bonus_approval.user_id=user_bl.user_id) workNum,
               (select name from user_bl where bonus_approval.user_id=user_bl.user_id) userName,applicant_id,
               (select position_name from position where position.position_id=(select position_id from applicant where applicant.applicant_id=bonus_approval.applicant_id)) positionName,
               (select bonus_type from position where position.position_id=(select position_id from applicant where applicant.applicant_id=bonus_approval.applicant_id)) bonusType,
               status,update_time
        from bonus_approval where status in
        <foreach collection="status" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
         order by update_time DESC
            limit #{start},#{end}
    </select>

    <select id="getApprovalByStatusCount" resultType="int">
        select count(*) from bonus_approval where status in
        <foreach collection="status" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getApproval" resultType="Map">
        select (select work_num from user_bl where bonus_approval.user_id=user_bl.user_id) workNum,
               (select name from user_bl where bonus_approval.user_id=user_bl.user_id) userName,applicant_id,
               (select position_name from position where position.position_id=(select position_id from applicant where applicant.applicant_id=bonus_approval.applicant_id)) positionName,
               (select bonus_type from position where position.position_id=(select position_id from applicant where applicant.applicant_id=bonus_approval.applicant_id)) bonusType,
               status,update_time
        from bonus_approval order by update_time DESC
            limit #{start},#{end}
    </select>

    <select id="getApprovalCount" resultType="int">
        select count(*) from bonus_approval
    </select>
</mapper>
