<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Industics Co., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industics.ilab.okr.dal.dao.mapper.BonusMapper">
    <insert id="addBonus">
        insert into bonus (bonus_type,amount,update_time)
        values (#{bonus_type},#{amount},now());
    </insert>

    <insert id="addGrantBonus">
        insert into grant_bonus (admin_id, approval_id, grant_time, amount)
        VALUES (#{admin_id},#{approval_id},now(),#{amount})
    </insert>

    <update id="updateBonus">
        update bonus set amount=#{amount},update_time=now()
        where bonus_type=#{bonus_type}
    </update>

    <select id="getBonus" resultType="Map">
        select * from bonus
    </select>

    <select id="getAmountInfo" resultType="Map">
        select A.work_num, (select name from user_bl where user_bl.user_id=BA.user_id)
               bl_name,GB.amount,A.name applicant_name,GB.grant_time,P.position_name,
               (select name from admin where GB.admin_id = admin.admin_id) admin_name
        from grant_bonus GB left join bonus_approval BA on GB.approval_id=BA.approval_id
                            left join applicant A on BA.applicant_id=A.applicant_id
                            left join position P on A.position_id=P.position_id order BY grant_time desc
    </select>
    
    <select id="getBonusAmountByMonth" resultType="Map">
        select count(*) count,sum(amount) sum,DATE_FORMAT(grant_time,'%Y%m') date
        from (select amount,grant_time from grant_bonus ) B group by date order by date
    </select>

    <select id="getBonusTypeNum" resultType="Map">
        select count(*) count,sum(amount) sum,DATE_FORMAT(grant_time,'%Y%m') date
        from (select amount,grant_time from grant_bonus ) B group by date order by date
    </select>

    <select id="getBonusType" resultType="String">
        select bonus_type from bonus
    </select>

    <select id="getBonusByID" resultType="Map">
        select * from bonus where bonus_type=#{bonus_type}
    </select>

    <delete id="deleteBonus">
        delete from bonus where bonus_type=#{bonus_type}
    </delete>
</mapper>
