<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Industics Co., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industics.ilab.okr.dal.dao.mapper.PositionMapper">
    <insert id="addPosition">
        insert into position (position_id, position_name, degree, location, position_detail, position_require,
                              salary, salary_count, quota, bonus_type, update_time)
        VALUES (MD5(UUID()),#{position_name},#{degree},#{location},#{position_detail},#{position_require},
                #{salary},#{salary_count},#{quota},#{bonus_type},now());
    </insert>

    <update id="updatePosition">
        update position set position_name=#{position_name},degree=#{degree},location=#{location},position_detail=#{position_detail},
                            position_require=#{position_require},salary=#{salary},salary_count=#{salary_count},
                            quota=#{quota},bonus_type=#{bonus_type},update_time=now()
        where position_id=#{position_id}
    </update>

    <select id="getPositions" resultType="Map">
        select * from position
    </select>

    <select id="getBriefPositions" resultType="Map">
        select position_id,position_name,location,degree,salary,salary_count from position order by position_name
    </select>

    <select id="getPositionsNumByName" resultType="int">
        select count(*) from position where position_name=#{position_name}
    </select>

    <select id="getPositionByID" resultType="Map">
        select * from position where position_id=#{position_id}
    </select>

    <delete id="deletePosition">
        delete from position where position_id=#{position_id}
    </delete>
</mapper>
